In [1]:
import numpy as np 
import pandas as pd 
import sklearn.model_selection as model_selection 
import sklearn.preprocessing as preprocessing 
import sklearn.metrics as metrics 
from tqdm import tqdm

In [2]:
train_X  = pd.read_csv('./train_X.csv')
train_y = pd.read_csv('./train_y.csv')

In [3]:
train_X.shape

(60000, 785)

In [4]:
train_y.head()

   Unnamed: 0  label
0           0      5
1           1      0
2           2      4
3           3      1
4           4      9

In [6]:
train_X = train_X.drop(['Unnamed: 0'],axis=1)
train_y = train_y.drop(['Unnamed: 0'],axis=1)

In [7]:
train_X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60000 entries, 0 to 59999
Columns: 784 entries, 1x1 to 28x28
dtypes: int64(784)
memory usage: 358.9 MB

In [8]:
train_y.groupby(train_y['label']).count()

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
def ReLU(z):
    if(z<=0):
        return 0
    else:
        return z

**we need the exp_x array as that would be help us in calculating the derivative of the softmax layer**

In [32]:
def Softmax(x):
    prob_x = []
    exp_x = []
    s =0.00
    for i in x:
        ex = np.exp(i)
        s = s + ex
        exp_x.append(ex)

    s = np.sum(exp_x)

    for j in exp_x:
        prob_x.append(j/s)

    return np.array(prob_x) , np.array(exp_x)

In [33]:
x = np.random.rand(10)
soft , p = Softmax(x)

In [34]:
np.argmax(soft)

4

In [35]:
def cross_entropy(x):
    n = 0.00
    for i in x:
        n = n+ np.log(i)
    
    return -n

In [36]:
loss = cross_entropy(soft)
loss

23.361903645915543

**defferentiation of the Loss function w.r.t the soft max function is [likelihood -1] or here [p(i) -1]**

In [42]:
def Dloss_Dsoftmax(x):
    def_soft = []
    for i in x:
        def_soft.append(i-1)
    
    return np.array(def_soft)

In [43]:
def_soft = Dloss_Dsoftmax(p)

In [44]:
p

array([2.14571383, 1.94930227, 1.04078524, 1.99116563, 2.68914758,
       1.33984048, 1.59353329, 2.11085586, 2.31438375, 1.59575714])

In [45]:
print(1/255)

0.00392156862745098

In [47]:
train_descb = train_X.describe()

In [48]:
train_descb

,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,1x10,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
count,60000.0,60000.0,60000.0,60000.0,60000.0,60000.0,60000.0,60000.0,60000.0,60000.0,...,60000.000000,60000.000000,60000.000000,60000.000000,60000.000000,60000.0000,60000.0,60000.0,60000.0,60000.0
mean,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.200433,0.088867,0.045633,0.019283,0.015117,0.0020,0.0,0.0,0.0,0.0
std,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6.042472,3.956189,2.839845,1.686770,1.678283,0.3466,0.0,0.0,0.0,0.0
min,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0,0.0,0.0,0.0
25%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0,0.0,0.0,0.0
50%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0,0.0,0.0,0.0
75%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0,0.0,0.0,0.0
max,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,254.000000,254.000000,253.000000,253.000000,254.000000,62.0000,0.0,0.0,0.0,0.0